<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body>
    <script type="text/javascript" 
    src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" 
    charset="utf-8" 
    homePageUrl="http://localhost:3001" 
    homePageName="回到我的主页"></script>
</body>
</html>